{% extends 'PortfoliosAPP/labase.html' %}
{% block contenu %}
{% load static %}




<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">
        <a href = "/home.html#portfolio">retourner </a>
        <div class="row">

          <div class="col-lg-7">
            <h2 class="portfolio-title" style='color:#18d26e'>{{ project.title}}</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

               

          
                <video width="100%" height="300%"controls>
                  <source src="{{ project.url.url }}" type="video/mp4">
                
                </video>
               

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-5 portfolio-info">
            <ul>
             
              
              
              <li><strong>Téchnologies principales</strong>:<h3 style='color:#18d26e'>{{ project.technologie}}</h3></li>
            </ul>

            <p>
                {{ project.description}}
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->





{% endblock %}